body{
    background-color: #202124;
    color: white;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.main-div{
    padding: 1rem 2rem;
    display: flex;
    min-width: 300px ;
    gap: 1rem;
    flex-direction: column;
}

.title{
    font-size: 1.25rem;
    letter-spacing: 2px;
}

input{
    background-color: #292a2d;
    border: none;
    padding: .5rem 1rem;
    color: #9aa0a6;

}

.login-button{
    background-color: #292a2d;
    color: #9aa0a6;
    border: none;
    border-radius: 4px;
    padding: .5rem 1rem;
}